
.button
{
	width: 200px;
}
.fixx
{
	font-weight: bold;
	color: black;
	border: 0px solid black;
	border-radius: 5px;
	width: 60%;
	background: #e6e6e6;
	transition: 200ms ease-in-out;	
}

#0{
	transform: scale(0);	
}
#1{
	transform: scale(-3);
}
#2{
	transform: scale(-3);	
}
#3{
	transform: scale(-3);	
}
#4{
	transform: scale(-3);	
}
#5{
	transform: scale(-3);	
}
